<div class="container">
  <h1>Welcome Dummy!</h1>
  <p>Hello, world!</p>

  <form action='/sign_in' method='get'>
    <button type='submit'>Click here to sign in</button>
  </form>
  <form action='/register' method='get'>
    <button type='submit'>Click here to register a new account</button>
  </form>

</div>
