<div class="container" align="center">
  <h1>Welcome to the awesomest website in the internet!</h1>

    <table>
      <tr height="30px">
        <td>
          <form action='/sign_in' method='get' align="center">
            <button type='submit'>Sign in</button>
          </form>
        </td>
      </tr>
      <tr height="30px">
        <td>
          <form action='/register' method='get' align="center">
            <button type='submit'>Register an account</button>
          </form>
        </td>
      </tr>
    </table>
  </form>
</div>
