<div class="container" align="center">
  <h1>Welcome to the awesomest URL shortener in the internet!</h1>

    <h2>The URL is invalid!</h2>
    <p>Please remember to include 'http://' in your url.</p>

    <table>
      <tr height="100px">
        <td>
          <form action="/urls" method="post">
            <p>Type in your URL to get it shortened!</p>
            <input name="url" type="text" placeholder="Your URL" autofocus>
            <input type ="submit" name="Submit!">
          </form>
        </td>
      </tr>
      <tr height="30px">
        <td>
          <form action='/sign_in' method='get' align="center">
            <button type='submit'>Sign in</button>
          </form>
        </td>
      </tr>
      <tr height="30px">
        <td>
          <form action='/register' method='get' align="center">
            <button type='submit'>Register an account</button>
          </form>
        </td>
      </tr>
    </table>


</div>