<div class="container">
  <h1>Register new account</h1>
  <p>Hello, world!</p>

  <form action='/register' method='post'>
    Name: <input name='name' type='text' autofocus><br><br>
    Email: <input name='email' type='text'><br><br>
    Password: <input name='password' type='text'><br><br>
    <input type="submit" name="register"><br><br>
  </form>


</div>
